body{
    margin:1px;
}



.container{
    margin: 6px;
    border:1px solid rgb(166, 232, 244);
color: rgb(10, 7, 88);

}
.col-mb-3{
    margin: 2px;
    margin-top: 6px;


}
h4{
    border: 1px solid rgb(158, 221, 246); 
    background-color: rgb(146, 215, 230);

}
nav {
    
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px;
    /* float: left; */
      background: linear-gradient(#9ddceb, rgb(233, 236, 237));
  }
  .nav-link {
    text-decoration: none;
    color: white; /* Change the text color as neeed */
    margin-left: 0px;
    position: relative;
    transition: color 0.3s ease-in-out;
  }